<h1>All your Items here!</h1>

<table>
	
	<thead>
		<tr>
			<th>Name</th>
			<th>Quantity</th>
			<th>Description</th>
			<th>Edit Action</th>
			<th>Delete Action</th>
		</tr>
	</thead>

	<tbody>

		<% @items.each do |item| %>
			<tr>
				<td><%= item.name.capitalize %></td>
				<td><%= item.quantity %></td>
				<td><%= item.description.capitalize %></td>
				<td><%= link_to "Edit", "asd", class: "waves-effect waves-light btn" %></td>
				<td><%= link_to "Delete", "asd", class: "waves-effect waves-light btn red" %></td>
			</tr>
		<% end %>

	</tbody>

</table>